.large {
    width: 40px;
    height: 40px;
  }
  .medium {
    width: 24px;
    height: 24px;
  }
  .small {
    width: 16px;
    height: 16px;
  }
  
  .wrapper_large {
    width: 100%;
    min-height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .wrapper_medium {
    width: fit-content; /* 100% */
    min-height: fit-content; /* 100px */
    margin-right: 24px; /* Не было в оригинале */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .wrapper_small {
    width: 100%;
    min-height: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }