.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 536px;
}

.hovered_block {
    border: 1px dashed lightgray;
}

.bun_container {
    display: flex;
}
