.page_container {
  margin-top: 40px;
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  padding-top: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.list_container {
  width: 100%;
  max-width: 580px;
}
