.text_position {
    text-align: center;
}

.display_flex {
    display: flex ;
    flex-direction: column;
    align-items: center;
    top: 80px;
    position: relative;
}

.checkMarkIcon_position {
    display: flex;
    align-items: center;
    position: relative;
      bottom: -140px; 
}