.header {
    box-sizing: border-box;
    position: absolute;
    height: 88px;
    left: 2%;
    right: 2%;
    top: 40px;
    background: #1C1C21;
    border: 2px solid #4C4CFF;
    width: 1920px;
}

.icon {
    box-sizing: border-box;
    margin-top:16px;
    display: flex;
    align-items: center;
    padding: 16px 20px;
    gap: 8px;
    position: absolute;
    width: 185px;
    height: 56px;
    top: 0px;
    border: 1px dashed #4C4CFF;
    border-radius: 40px;
}

.burgerIcon {
    left: 320px;
}

.listIcon{
    left: 520px
}

.profileIcon {
    right: 320px;
}

.logo {
    margin-top:16px;
    position: absolute;
    height: 40px;
    left: 815px;
    top: 8px;
    border: 1px dashed #4C4CFF;
}

.text {
    position: relative;
    width: 135px;
    height: 24px;
    top: 0px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #8585AD;
}
.flex {
    display: flex;
}
