.header {
    background: #131316;
    padding: 16px 0;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
}

.logo {
    margin-left: 112px;
    margin-right: 288px;
}

.link {
    border-radius: 40px;
    color: #8585ad;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.link_active {
    composes: link;
    color: #fff;
}

.link_active svg {
    fill: #fff;
}